.container {
	padding: 50px;
	display: grid;
	grid-row: auto;
}

h1 {
	color: rgb(85, 85, 85);
}

h2 {
	color: grey;
}

form {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, 1fr);
	height: 35px;
}

input,
select,
button {
	border-radius: 4px;
	border: 2px solid grey;
}

button {
	background-color: rgb(134, 134, 134);
}

#info {
	display: grid;
	grid-template-columns: 1fr 1fr;

	justify-items: center;
}

#text {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#ocjene {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

span {
	position: relative;
	left: 50%;
}
